/*body{
    font-family: bree serif, space mono;
background: color #fdf9fd; ;
}*/
body{
    font-family: 'Bree Serif', serif;
font-family: 'Space Mono', monospace;
font-family: 'Ubuntu', sans-serif;
background: color #fdf9fd; ;
}

h1{
    font-size: 50px;
    line-height: 1;
    letter-spacing: 2px;
    word-spacing:35px;;
}
h2{
    font-size: 25px;
}
p{
    font-size: 10px;
    word-spacing: 2px;
}
div{
    width: 45%;
    margin-top: 150px;
    margin-left: 50px;

}
span{
text-shadow: 2px 2px 5px blue;
text-align: center;
}
